.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-heading {
  font-family: "Playfair Display", serif;
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #011030;
}

.section-padding {
  padding: 4em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 4em 2em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 5em 2em;
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", serif;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: white;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background: linear-gradient(45deg, rgb(0, 10, 30) 0%, rgb(0, 16, 48) 50%, rgb(0, 20, 70) 100%);
  z-index: 100;
}
.nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: white;
  text-decoration: none;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-color: #D1B542;
  content: "";
}
.nav__item:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@-webkit-keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAnimation 1s both;
          animation: navItemsAnimation 1s both;
}

header {
  overflow: hidden;
}
header .hero-img {
  position: relative;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 75vh;
  z-index: 0;
}
header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 10, 50, 0.933);
  z-index: -10;
}
header .hero-text {
  font-family: "Playfair Display", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-transform: uppercase;
  color: #fff;
  z-index: 5;
}
header .hero-text h1 {
  font-size: 4.2rem;
  font-weight: 300;
}
header .hero-text p {
  padding-left: 0.6rem;
  font-size: 1.45rem;
  letter-spacing: 0.21rem;
}
header .border {
  position: absolute;
  height: 3rem;
  width: 19rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 0.44rem solid;
  border-color: #D1B542;
  justify-content: center;
  align-items: center;
  top: 50%;
}
header .border-top {
  border-bottom: none;
  margin-top: -6rem;
}
header .border-bottom {
  border-top: none;
  margin-top: 4.2rem;
}

.aboutus .section-heading {
  color: rgb(13, 55, 90);
}
.aboutus__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0;
}
.aboutus__img {
  width: 100%;
  margin-bottom: 1em;
}
.aboutus__title {
  font-family: "Playfair Display", serif;
  margin-bottom: 0.5em;
}
.aboutus__text {
  font-size: 1.4rem;
}

.footer {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

@media (min-width: 576px) {
  .aboutus__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .aboutus__box-text {
    width: 55%;
  }
  .aboutus__box-text--right {
    text-align: right;
  }
  .aboutus__box-img {
    width: 40%;
  }
  .aboutus__box-img--right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .aboutus__img {
    margin-bottom: 0;
    max-height: 300px;
  }
}
@media (min-width: 768px) {
  header .hero-text h1 {
    font-size: 8rem;
    font-weight: 300;
  }
  header .hero-text p {
    padding-left: 1.5rem;
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
  }
  header .border {
    height: 5rem;
    width: 34rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0.6rem solid;
    border-color: #D1B542;
  }
  header .border-top {
    border-bottom: none;
    margin-top: -10rem;
  }
  header .border-bottom {
    border-top: none;
    margin-top: 7.2rem;
  }
  .aboutus__text {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .aboutus__box {
    margin: 5em 0;
  }
  .aboutus__box-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .aboutus__title {
    font-size: 2.8rem;
  }
  .aboutus__text {
    font-size: 2.2rem;
  }
}/*# sourceMappingURL=style.css.map */