@import './colors';
@import './components';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Playfair Display', serif;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

///////////////////////////////////////
// NAV
///////////////////////////////////////

nav {
	text-transform: uppercase;
	z-index: 100;
	text-align: center;

	.container {
		background-color: rgba(28, 35, 75, 0.85);
		border-radius: 20px;
		width: 90rem;
	}

	.nav-link {
		font-size: 2rem;
		color: $pure-white;
		border-bottom: 2px solid rgba(0, 0, 0, 0);
		margin: 1rem 1rem;
		padding: 3rem 0;
	}

	.navbar-brand {
		margin: 0 2rem;
	}

	.navbar-brand,
	.navbar-toggler {
		color: $pure-white;
		font-size: 3rem;
	}

	.fa-bars {
		padding: 10px;
	}

	.nav-link:hover {
		color: white;
		border-bottom: 2px solid $gold;
	}

	.navbar-brand:focus,
	.navbar-brand:active,
	.nav-link:focus,
	.nav-link:active,
	.navbar-toggler:focus,
	.navbar-toggler:active {
		color: $pure-white;
	}

	.navbar-brand:hover,
	.navbar-toggler:hover {
		color: $gold;
	}
}

///////////////////////////////////////
// HEADER
///////////////////////////////////////

header {
	overflow: hidden;
	.head-img {
		position: relative;
		background-image: url(../img/hero.jpg);
		background-size: cover;
		background-position: center;
		width: 100vw;
		height: 75vh;
		z-index: -1;
	}

	.head-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $shadow-blue;
		z-index: -10;
	}

	.head-text {
		font-family: 'Playfair Display', serif;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		text-transform: uppercase;
		color: #fff;
		z-index: 5;

		h1 {
			font-size: 4.2rem;
			font-weight: 300;
		}
		p {
			padding-left: 0.6rem;
			font-size: 1.45rem;
			letter-spacing: 0.21rem;
		}
	}

	.bor {
		position: absolute;
		height: 3rem;
		width: 19rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-left: 50%;
		transform: translateX(-50%);
		border: 0.44rem solid;
		border-color: $gold;
		justify-content: center;
		align-items: center;
		top: 50%;
	}

	.bor-top {
		border-bottom: none;
		margin-top: -7rem;
	}

	.bor-bottom {
		border-top: none;
		margin-top: 3.6rem;
	}
}

///////////////////////////////////////
// ABOUT US
///////////////////////////////////////

.aboutus {
	.section-heading {
		color: $main-blue;
	}

	&__box {
		display: flex;
		flex-direction: column;
		margin: 1em 0;
	}

	&__img {
		width: 100%;
		margin-bottom: 1em;
	}

	&__title {
		font-family: 'Playfair Display', serif;
		color: $main-blue;
		margin-bottom: 0.5em;
		font-size: 2rem;
	}

	&__text {
		font-size: 1.4rem;
	}

	&__top {
		margin-bottom: 10rem;
	}
}

///////////////////////////////////////
// HERO
///////////////////////////////////////

.hero-img {
	position: relative;
	padding: 8em 2em;
	@include heroImages('../img/hero1.jpg');
	text-align: center;
	color: $pure-white;
	overflow: hidden;
	z-index: 10;

	&__title {
		font-family: 'Playfair Display', serif;
		margin-bottom: 0.5em;
		font-size: 3.8rem;
	}

	&__text {
		padding: 1em 0;
	}

	.heading-underline {
		margin-bottom: 0;
		width: 20rem;
	}
}

///////////////////////////////////////
// OFFER
///////////////////////////////////////

.offer {
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__circle {
		margin: -3rem auto;
		border: 3px solid $gold;
		border-radius: 50%;
		width: 180px;
		height: 180px;
		transform: translateX(-20%);

		&-color {
			background-color: $gold;
			transform: translateX(20%);

		}
	}

	&__item {
		margin-top: 50%;
		transform: translateY(-50%);
		font-size: 1.8rem;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		line-height: 4rem;
	}
}

///////////////////////////////////////
// FOOTER
///////////////////////////////////////

.footer {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

///////////////////////////////////////
// MEDIA
///////////////////////////////////////

@media (min-width: 576px) {
	.aboutus {
		&__title {
			font-size: 2rem;
		}

		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-text {
				width: 55%;
			}

			&-img {
				width: 40%;

				&--right {
					order: 1;
				}
			}
		}

		&__img {
			margin-bottom: 0;
			max-height: 600px;
		}
	}
}

@media (min-width: 768px) {
	header {
		.head-text {
			h1 {
				font-size: 8rem;
				font-weight: 300;
			}
			p {
				padding-left: 1.5rem;
				font-size: 2.1rem;
				letter-spacing: 0.8rem;
			}
		}

		.bor {
			height: 5rem;
			width: 34rem;
			display: flex;
			border: 0.6rem solid;
			border-color: $gold;
		}

		.bor-top {
			border-bottom: none;
			margin-top: -11.4rem;
		}

		.bor-bottom {
			border-top: none;
			margin-top: 7.2rem;
		}
	}

	.aboutus {
		&__title {
			font-size: 2.4rem;
		}
		&__text {
			font-size: 1.8rem;
		}
	}

	.hero-img {
		padding: 12em 2em;

		&__title {
			font-size: 6rem;
		}

		&__text {
			font-size: 2.2rem;
		}

		.heading-underline {
			width: 30rem;
		}
	}
}

@media (min-width: 992px) {
	.aboutus {
		&__box {
			margin: 5em 0;

			&-text {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}

		&__title {
			font-size: 3rem;
		}

		&__text {
			font-size: 2rem;
			letter-spacing: 0.1em;
		}
	}

	.hero-img {
		padding: 18em 2em;
	}

	nav {
		.container {
			background-color: rgba(28, 35, 75, 0.7);
		}
		.nav-link {
			font-size: 1.6rem;
			padding: 0.5rem 0;
		}
	}
}

@media (min-width: 1280px) {
	.aboutus {
		&__title {
			font-size: 4rem;
			margin-bottom: 2em;
		}

		&__text {
			font-size: 2.5rem;
			letter-spacing: 0.1em;
		}
	}
}